* {
  background-color: rgb(193, 217, 238);
}

/* Main App Heading */
.heading {
  text-decoration: underline;
  font-size: 55px;
  color: rgb(45, 43, 43);
  margin-top: 30px;
  text-shadow: 2px 3.5px rgb(187, 173, 173);
}

/* Input box */

.divsty {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputbox {
  background-color: white;
  border: 2px solid rgb(193, 191, 191);
  border-radius: 15px;
  width: 600px;
  text-align: center;
  font-size: 18px;
  /* margin: 50px 0px 0px 0px; */
}
.butt {
  width: 70px;
}
.butt:hover {
  cursor: pointer;
}

/* Alligning Item control in a row */
.itemflex {
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
}
